* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    line-height: 2;
    color : saddlebrown

}

.container h5{
    line-height:1.5;
}

.container h4{
    line-height:1.5;
}
.container h2{
    line-height:3;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(haikei.jpg);
    background-size: 2000px;
    min-height: 100vh;
    position: relative; /*Å©ëäëŒà íu*/
    padding-bottom: 120px; /*Å©footerÇÃçÇÇ≥*/
    box-sizing: border-box; /*Å©ëSÇƒä‹ÇﬂÇƒmin-height:100vhÇ…*/
    
}

header {

    background-color: moccasin;
    border-bottom: #ead963 6px solid;
}

    header  h1 {
        color: black;
        line-height: 2;
    }

    header a {
        min-height: 50px;
        color: #00f;
        font-size: 15px;
        max-width: 1000px;
        margin: 0 auto;
    }
    header p {
        min-height: 50px;

        font-size: 15px;
        max-width: 1000px;
        margin: 0 auto;
    }
    header .subj {
        font-size: 25px;
        list-style: none;
        text-align: left;
       
        float: left;
        margin: 0px;
    }
    header .link {
        list-style: none;
        text-align: right;
        padding-right: 10px;
    }
footer {
    /*max-width: 2000px;*/
    margin: 0;
    background-color: moccasin;
    border-top: #ead963 6px solid;
}

    footer .container_1 {
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        font-size: 12px;
        text-align: right;
        max-width: 1000px;
        
  
    }

footer li {
    list-style: none;

}
.footer {

    width: 100%;
    height: auto;
    
    position: absolute;
    bottom: 0;
}

.hamburger {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #fff;
    padding: 10px;
}

/*navÇ…Ç¬Ç¢Çƒ*/
#nav {
    position: fixed;
    right: -300px;
    top: 0;
    width: 250px;
    height: 100%;
}

.show {
    transform: translate3d(-300px, 0, 0);
}

#nav,
.hamburger {
    transition: transform 0.5s;
}

#nav {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #nav li a {
        display: block;
        padding: 0.75rem 0;
        border-bottom: 1px solid #0e3e4d;
        text-decoration: none;
        color: #fff;
    }

        #nav li a:hover {
            background: #0e3e4d;
        }


